:root {
    --length: 0;
    --scrollTop:0;
    --scrollTop-one:-100vh;
    --scrollTop-two:-200vh;
    --index:calc(1vw+1vh);
    --transition: transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
}
a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color from the parent */
}
  
a:hover {
    cursor: pointer;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    height: 2vh;
}

/* ID */
#spring-front{
    background-image: url(./img/spring-front.png);
    transform:translateY(calc(var(--scrollTop)/5.7));
    max-width: 100vw;;
}
#spring-middle{
    background-image: url(./img/spring-middle.png);
    transform:translateY(calc(var(--scrollTop)/2.5));
}
#spring-base{
    background-image: url(./img/spring-base.png);
    transform:translateY(calc(var(--scrollTop)/1.6));
}
#summer-front{
    background-image: url(./img/sumer-front.png);
    transform:translateY(calc(var(--scrollTop-one)/5.7));
}
#summer-base{
    background-image: url(./img/summer-base.png);
    transform:translateY(calc(var(--scrollTop-one)/1.6));
}
#autumn-front{
    background-image: url(./img/autumn-front.png);
    transform:translateY(calc(var(--scrollTop-two)/5.7));
}
#autumn-middle{
    background-image: url(./img/autumn-middle.png);
    transform:translateY(calc(var(--scrollTop-two)/2.5));
}
#autumn-base{
    background-image: url(./img/autumn-base.png);
    transform:translateY(calc(var(--scrollTop-two)/1.6));
}
#firefly-container{
    left: 0;
    width: 100%;
    height: 75%;
    position:absolute;
    z-index: 10000;
}


/* class */
.header{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 100%;
    align-items: stretch;
    text-align: center;
    justify-content: space-evenly;
    overflow: hidden;
    color: #e7e7e0;
    padding-top: 5%;
    padding-bottom:15% ;
}
.firefly {
    position: absolute;
    transition: opacity 1s ease-in-out, transform 0.8s ease-in-out;
}

.scroll-arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    cursor: pointer;
    animation: bounce 3s infinite;
    z-index: 1000;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
  }

/* .nav{
    margin-inline:auto;
    width: 75vw;
    background-color: gray;
    border-radius: 10%;
    opacity:70%;
    display: flex;
    justify-content: center;   
    align-items: center;
    height: 7vh;
    position:sticky;
    top:0;
    z-index: 10;
    font-size: calc(var(--index) * 2.65);
}
.nav-item{
	width: 20%;
} */

.layer-title {
    will-change: transform;
    position: relative;
    z-index: 1;
    color: #e7e7e0;
    transform: translateY(calc(var(--scrollTop) / 2));
    transition: var(--transition);
    text-shadow: 0 0 15px #9d822b;
    text-transform: uppercase;
    font-weight: 900;
}

.title {
    margin-bottom: 80px;
    font-size: 262%;
    letter-spacing: calc(var(--index) / 2.25);
    
}

.subtitle {
    margin-top: calc(var(--index) * -0.75);
    font-size: calc(var(--index) / 1.175);
    letter-spacing: calc(var(--index) / 3.5);
}
  
.header-after{
    content: '';
    position: absolute;
    bottom: -8%;
    z-index: 100;
    width: 100%;
    height: 35%;    
    background-image: url(./img/divider.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}

.layers{
    display: flex;
    position: relative;
    height: 100vh;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    overflow: hidden;
}

.layer-base{
    
    will-change: transform;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
    background-size: cover;
    background-position: center;
    transition:var(--transition);
}

.layer-middle{
   
    will-change: transform;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition:var(--transition);
}

.layer-front{
   
    will-change: transform;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition:var(--transition);
} 

/* .layer-title{
    will-change: transform;
    position: relative;
    height: 100%;  
    width: 100%;
    z-index: 1;
    color: #e7e7e7;
    transform:translateY(calc(var(--scrollTop)/2));
    transition:var(--transition);
    text-shadow: 0 0 15px #9d822b;
    font-weight: 900;
}
.title{
    margin-bottom: 80px;
    font-size: calc(var(--index)*2.65);
    letter-spacing: calc(var(--index)/2.25);
} */

.section-one{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: transparent;
    background-image: url('./img/summer.jpg');
    background-size: cover;
    background-position: center;
    color: #e7e7e0;
    text-align: center;
    top: -1px;
    z-index: 10;
}


.section-one-after{
    content: '';
    position: absolute;
    bottom: -12%;
    z-index: 100;
    width: 100%;
    height: 35%;    
    background-image: url(./img/divider.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
} 
.projects{
    display: flex;
    flex-direction: row;
    position: absolute;
    padding-left: 5%;
    padding-right:5% ;
    justify-content: space-evenly;
    align-items: flex-start;
}
.article-content{
    position:absolute;
    text-align: center;
}
.project-content{
    width: 20%;
}
.project-title,.article-title {
    text-transform: uppercase;
    font-size: calc(var(--index) * 1.8);
    letter-spacing: calc(var(--index) / 7.5);
    position: relative;
    z-index: 1000;
    margin-bottom: 15%;
}
.project-text,.article-text{
    max-width: calc(var(--index) * 30);
    font-size: calc(var(--index) * 0.9);
    margin-top: calc(var(--index) / 1.25);
    position: relative;
    z-index: 1000;
}
.project-title:hover{
    text-shadow: 0 0 15px #9d822b;
}
p a:hover{
    text-shadow: 0 0 15px #2b9b9d;
}
.section-two{
position: relative;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background-color: transparent;
background-image: url('./img/autumn.jpg');
background-size: cover;
background-position: center;
color: #e7e7e0;
text-align: center;
top: -1px;
z-index: 0;
}



.section-two::after{
    content: '';
    position: absolute;
    bottom: -15%;
    z-index: 100;
    width: 100%;
    height: 35%;    
    background-image: url(./img/divider.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}

.section-three{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}
.path {
    stroke-dasharray: var(--length);
    stroke-dashoffset: var(--length);
    stroke-width: 2;
    animation: anim 3s ease-in-out alternate infinite;
}


